## A Program that compares two numbers and gives its exponent value

In [4]:
x=int(input("Enter the first number "))
y=int(input("Enter the second number "))

if x>y:
    print("The bigger number is ",x,".")
elif x==y:
    print("Both ",x," & ",y," are the same value.")
else:
    print(f"The bigger number is {y}.")

    
exp=x**y
print("Exponent = ",exp)

Enter the first number 3
Enter the second number 2
The bigger number is  3 .
Exponent =  9

## A Program that reverses the entered string

In [15]:
name = input("Enter your name : \n")
rev_name = name[::-1]
print("Your name after reversing is : \n"+rev_name)

Enter your name :
rahul r nair
Your name after reversing is :
rian r luhar

## String Concatinations

#### The regular(+) method.

In [3]:
name = "Bill"
print("My name is "+name)  #using add sign
print("My name is", name)  #using comma

My name is Bill
My name is Bill

#### .format() method

In [11]:
name = "Bill"
age = 18
place = "Kochi"

print("My name is {}, I am {} years old and from {}".format(name,age,place)) #wihtout using indexes for assignemt to {}

print("\nI am from {2}, my name is {0} and am {1} years old".format(name,age,place))  #using indexes {1},{2} etc.

print("\nI am {a} years old, from {p} & my name is {n}.".format(n=name,a=age,p=place)) #using assignment to element in func

My name is Bill, I am 18 years old and from Kochi

I am from Kochi, my name is Bill and am 18 years old

I am 18 years old, from Kochi & my name is Bill.

#### F-strings method

In [12]:
name = "Bill"
age = 18
place = "Thrissur"

print(f"{name} is {age} years old and from {place}.")  #uses an 'f' in front of the string and lets us pass the variables

Bill is 18 years old and from Thrissur.

## Lists

In [34]:
name_list = ["dennis", "yadu", "vignesh", "sahal", "abhinand", "abhay"]
print(name_list)

['dennis', 'yadu', 'vignesh', 'sahal', 'abhinand', 'abhay']

In [52]:
num_list = [1,2,3,4,5,6,7,8,9]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Concatinating two lists

In [39]:
new_list = num_list + name_list
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'dennis', 'yadu', 'vignesh', 'sahal', 'abhinand', 'abhay']

### Appending an element

In [40]:
new_list.append("roshan")
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'dennis', 'yadu', 'vignesh', 'sahal', 'abhinand', 'abhay', 'roshan']

In [41]:
len(new_list)

16

In [44]:
print(new_list[::-1])

['roshan', 'abhay', 'abhinand', 'sahal', 'vignesh', 'yadu', 'dennis', 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Popping an element off the list

In [45]:
popped = new_list.pop()
print(popped)

roshan

In [46]:
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'dennis', 'yadu', 'vignesh', 'sahal', 'abhinand', 'abhay']

In [58]:
num_list.reverse() #this is a non return function which performs operation in place. (it does not return anything)
num_list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
new_list.reverse()
print(new_list)

['abhay', 'abhinand', 'sahal', 'vignesh', 'yadu', 'dennis', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
num_list.sort() #non return type function. performs in place operation. (same as reverse)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionary

In [1]:
new_dict = {'k1':1, 'k2':2, "k3":3} #contains a key:value pair, where the key can be called instead of a needing a index
print(new_dict)

{'k1': 1, 'k2': 2, 'k3': 3}

In [8]:
print(new_dict['k1'])
print(new_dict['k2'])

1
2

In [10]:
my_dict = {'key1':11, 'key2':22, 'key3':33, 'key4':[1,2,3]}  #lists can be nested inside of dictionaries
print(my_dict)

{'key1': 11, 'key2': 22, 'key3': 33, 'key4': [1, 2, 3]}

In [13]:
print(my_dict['key1'])
print(my_dict['key4'])
print(my_dict['key4'][2])  #nested elements can be called by stacking up [key][index] of the required element
                           #even dictionaries can be nested inside base dictionary

11
[1, 2, 3]
3

In [12]:
my_dict['key5'] = 'new value'
print(my_dict)

{'key1': 11, 'key2': 22, 'key3': 33, 'key4': [1, 2, 3], 'key5': 'new value'}

In [17]:
print(my_dict.keys())
print(my_dict.values())

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])
dict_values([11, 22, 33, [1, 2, 3], 'new value'])

## Tuples

a certain index value inside a tuple will not allow its value to be altered once its declared.

In [28]:
t = (1, 1, 2, 3)
print(t)

(1, 1, 2, 3)

In [29]:
print(t[0])
print(t[2])

1
2

In [30]:
t.count(1)

2

## Sets

similar to list but has only one unique value of each object(does not have repeated values)

In [33]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset

{1, 2, 3}

In [35]:
myset.add(1)
myset

{1, 2, 3}

In [36]:
mynewlist = [1,1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4]  #a list of repeated elements can be passed as an argument to 'set()'
mynewset = set(mynewlist)                              #but it only makes the set with unique values.
mynewset

{1, 2, 3, 4}

## Files

In [70]:
%%writefile myfile.txt    
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting myfile.txt

In [71]:
myfile = open('myfile.txt')  #opening the created file
myfile.read()                #reading data from the file through the assigned variable

'ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD\n'

In [72]:
myfile.read()  #as the cursor moves to the last character after every 'read', we need to redirect it to [0]

''

In [73]:
myfile.seek(0)  #moving cursor to [0]
myfile.read()

'ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD\n'

In [74]:
myfile.seek(0)
myfile.readlines()  #.readlines can be used for creating a list of each line in the file rather than a long messy string

['ONE ON FIRST\n', 'TWO ON SECOND\n', 'THREE ON THIRD\n']

In [75]:
myfile.close()  #we have to manually close the file everytime, otherwise errors will show up outside of python

In [76]:
with open('myfile.txt') as f:  #to avoid the problem of encountering problems we can use 'with' and 'as' keywords and open 
    print(f.read())            #open the required file in such a manner

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [77]:
with open('myfile.txt') as f:
    print(f.readlines())

['ONE ON FIRST\n', 'TWO ON SECOND\n', 'THREE ON THIRD\n']

In [78]:
with open('myfile.txt', mode='r') as g:  #the 'mode' of a file operation can be specified in the 'open()'
    content = g.read()

In [79]:
content

'ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD\n'

In [80]:
with open('myfile.txt', mode='a') as g:  #mode 'a' refers to append, which lets us append more data to end of the file
    g.write('FOUR ON FOURTH')

In [81]:
with open('myfile.txt', mode = 'r') as g:  
    data = g.read()
    print(data)

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [82]:
with open('orugbgerunuerno.txt', mode='w') as w:  #mode 'w' lets us overwrite or create new files with the name we provide.
    w.write("new file done!")

In [84]:
with open('orugbgerunuerno.txt', mode='r') as r:
    print(r.read())

new file done!

## Logical and comparison operators

In [85]:
(1<2) and (2<3)

True

In [86]:
(1<2) or (2>3)

True

In [87]:
(1<2) and (2>3)

False

In [88]:
(1==1) and (2==3)

False

In [90]:
not(1==1)  #returns the opposite boolean of the statement

False

## If, elif and else

In [95]:
age = int(input("Enter your age :\n"))

if (age>=18):
    print(f"\nYou are legal, you are {age} years old!")
else:
    print(f"\nYou are underage, you are only {age} years old!")

Enter your age :
1

You are underage, you are only 1 years old!

## For Loop

In [105]:
for i in range(7):
    print(f'day {i}')

day 0
day 1
day 2
day 3
day 4
day 5
day 6

In [108]:
sum = 0

for j in range(11):
    if (j>0):
        sum=sum+j
        print(f"\nThe sum after stage {j} is {sum}.")

print(f"\nFinal sum = {sum}")

The sum after stage 1 is 1.

The sum after stage 2 is 3.

The sum after stage 3 is 6.

The sum after stage 4 is 10.

The sum after stage 5 is 15.

The sum after stage 6 is 21.

The sum after stage 7 is 28.

The sum after stage 8 is 36.

The sum after stage 9 is 45.

The sum after stage 10 is 55.

Final sum = 55

In [118]:
fortups = [(1,2), (3,4), (5,6)]

for (a,b) in fortups:
    print(f"({a},{b}), after unpacking {a} and {b}")

(1,2), after unpacking 1 and 2
(3,4), after unpacking 3 and 4
(5,6), after unpacking 5 and 6

## While Loop

In [2]:
n = 0

while (n<5):                                       #The while loop uses a boolean checker as its constraint
    print(f"current value of x = {n}")
    n=n+1                                          #Unlike for loop, here the increment is to be passed by the programmer
else:
    print("value greater than 5")

current value of x = 0
current value of x = 1
current value of x = 2
current value of x = 3
current value of x = 4
value greater than 5

### break, continue & pass statements

In [6]:
#pass statement

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in l:
    #print(i)    #pass lets us keep a loop as a placeholder for future use, as we cannot just comment inside the loop 
    pass

print("pass checked")

pass checked

In [11]:
#continue statement

mename = "Naruto"

for i in mename:
    if (i=='u'):
        continue     #continue can be used to skip any element that you pass into it and return back to loop operation
    print(i)         #in this case the letter was 'u', therefore the output is 'Narto'

N
a
r
t
o

In [17]:
#break statement

for lo in range(1,11):
    if (lo>5):
        break      #break statement, breaks out of the whole loop and continues the rest of the porgram sequentially 
    print(lo)

1
2
3
4
5

In [19]:
for i in range(1,101):
    if (i%3==0) and (i%5==0):
        print("FizzBuzz")
    elif (i%3==0):
        print("Fizz")
    elif (i%5==0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [1]:
print(8)
print(18)
print(122)

8
18
122

In [3]:
n = int(input())

for i in range(0,n):
    print(i**2)

5
0
1
4
9
16

## Functions

In [5]:
def my_first_function():
    
    """
    This is the syntax of a function definition in python
    """
    print("hello!")
    
my_first_function()   #the defined function is called.

hello!

In [9]:
a = int(input("enter the first number : "))
b = int(input("enter the second number : "))

def sum_of_numbers(first,second):
    
    """
    function returns the sum of two numbers.
    """
    
    add = first+second
    return add

def product_of_numbers(one,two):
    
    """
    function returns the product of two numbers.
    """
    
    pro = one*two
    return pro

addition = sum_of_numbers(a,b)
product = product_of_numbers(a,b)

print(f"Result after adding {a} + {b} = {addition}")
print(f"Result after multiplyinig {a} * {b} = {product}")
print("\nEnd of program!")

enter the first number : 5
enter the second number : 5
Result after adding 5 + 5 = 10
Result after multiplyinig 5 * 5 = 25

End of program!